@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

.body {
  background: #f2f2f2;
  color: #222;
  line-height: 1.6;
  margin: 0;

  font-family: "Segoe UI", sans-serif;
}

.header {
  background: #111;
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 2;

  font-family: "Google Sans Code", monospace;
  font-size: large;
}

.title-article {
  font-family: "Story Script", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5em;
}

.description-article {
  font-family: "Google Sans Code", monospace;
  font-style: normal;
  font-size: 1.3em;
  color: #fff;
}

.redirect {
  color: #ffd700;
  text-decoration: none;
  font-family: "Google Sans Code", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px;
  margin: 40px auto;
  border-radius: 12px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.footer {
  text-align: center;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
  height: auto;
  width: 80%;
  color: #fff;
  text-shadow: 0 0 8px rgba(0,0,0,0.6);
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.card h2, .card h3, .card p, .card a, .card img {
  position: relative;
}

.card h2 {
  margin-top: 0;
  font-size: 4em;
  margin-bottom: -20px;
}

.card h3 {
  margin-top: -30px;
  font-size: 2em;
  margin-bottom: -5px;
}

.card p {
  margin-top: 0;;
}

.card img {
  display: block;
  margin: 0 auto;
}

/* immagini specifiche */
.card.bg-storia {
  background-image: url("../files/imgs/samurai.jpg");
}

.card.bg-morale {
  background-image: url("https://media.licdn.com/dms/image/D4D12AQGr_ZG1Hmsotg/article-cover_image-shrink_720_1280/0/1705870009363?e=2147483647&v=beta&t=ror-Prn1yEQly1VS42gm2pyHRAisM4FCrOP78fn106Q");
  background-position: 0% 28%;
}

.card.bg-influenza {
  background-image: url("../files/imgs/cultura-pop.jpg");
}

.card a:hover {
  text-decoration: underline;
}

.cookie-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cookie-popup.show {
  visibility: visible;
  opacity: 1;
}

.cookie-box {
  background: #fff;
  color: #111;
  max-width: 400px;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.cookie-box h3 {
  margin-bottom: 10px;
}

.cookie-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cookie-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#accept-cookies {
  background-color: #8B0000;
  color: white;
}

#accept-cookies:hover {
  background-color: #A42C1E;
}

#decline-cookies {
  background-color: #ccc;
}

#decline-cookies:hover {
  background-color: #999;
}